/* Cases */
#cases .card {
    border-radius: 0;
    border: none;
    box-shadow: 0 0 0 0;
    transition: all 0.3s ease-in-out;
}

#cases p img {
    margin-right: 20px;
}

/* whatwedo */
#whatwedo {
    margin-top: 200px;
}

#whatwedo p {
    font-size: 20px;
}

#whatwedo ul {
    margin-bottom: 40px;
}

#whatwedo li {
    list-style-image: url(images/virus.png);
    list-style-position: outside;
    font-size: 20px;
    margin-bottom: 10px;
}

#whatwedo .line-green {
    width: 25%;
    border: 1px solid #64CF83;
    opacity: 1;
}

/* Responsive Cases & whatwedo */
@media (max-width: 400px) {
    #cases {
        margin-right: 70px;
    }

    #whatwedo img {
        width: 280px;
    }

}

#navbar {
    background-color: #fff0;
    padding-bottom: 30px;
    padding-top: 20px;
}

.navlog {
    width: 135px;
}

.headnav {
    color: black !important;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: #44B564;
    font-weight: 500;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #44B564 !important;
}

.navbar-light .navbar-nav .nav-link {
    margin-left: 50px;
    margin-right: 0px;
}

#hero {
    padding-top: 40px;
    padding-bottom: 30px;
}

.btn-hero {
    background-color: #44B564 !important;
    color: white !important;
    font-size: 24px;
    line-height: 29px;
    padding: 8px 25px;
    border-radius: 24px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    align-items: center;
}

.twf {
    font-size: 53px;
    font-weight: bold;
}

.cvdalt {
    width: 35%;
}

.seque {
    font-size: 28px;
    color: #333333a3;
}

.mskt {
    width: 100%;
    border-radius: 40px !important;
    padding-top: 60px;
    padding-bottom: 60px;
}

#help hr {
    background-color: #64cf83;
    border: 0;
    width: 145px;
    height: 3px;
    opacity: 100%;
    margin: auto;
    margin-top: 20px;
}

#help .subtitle {
    margin-top: 26px;
    color: #777777;
}

#help .stay-safe {
    height: auto;
    width: 50%;
    margin-top: 50px;
}

#help .img-number {
    height: 30px;
}

#help .info {
    margin-left: 157px;
    margin-right: 157px;
}

#help .form-control {
    display: block;
    height: 65px;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 22px;
    padding-bottom: 22px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #f4f4f4 !important;
    background-clip: padding-box;
    border: 0px !important;
    appearance: none;
    border-radius: 12px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (max-width: 767.98px) {
    #help .info {
        margin-left: 0px;
        margin-right: 0px;
    }
}